body{
    background-color: #d6d2c4;
}

hr{
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 8px;
    width: 5%
}

h3,h1{
    color:#070d59;
}
